
<!-- Primera linea de la aplicación de plantillas, indica de qué plantilla hereda -->
{% extends 'base.html' %}

<!-- En esta página, quiero que el bloque title diga "Página de inicio", no compresión de archivos como en base.html -->
{% block title %}
    Página de Inicio
{% endblock title %}

<!-- El bloque de contenido será lo siguiente -->
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Página de Compresión de Archivos</h1>
        <p class="text-center">Esta es una plataforma para comprimir y descomprimir archivos de manera eficiente.</p>
    </div>
{% endblock content %}
